<script>
function test() {
  data = '{ \
    "function": "sum", \
    "args": [10,25], \
    "value": 35, \
    "code": "' + escape($('#magic-box').val()) + '" \
  }';
  submitcode('function', data)
}
</script>

<form id='magic' action='#'>
  <div class='form-group'>
    <label for='magic-box'>Enter function code:</label>
    <quote>Write a function called 'sum' that adds 2 numbers.  Usage: <code>sum(10,25)</code> returns <code>35</code>.</quote>
    <textarea class='form-control' id='magic-box' rows='10'></textarea>
  </div>
</form>

<script>
  formFooter();
</script>
