<script>
function test() {
  data = '{ \
    "code": "class magic_module { ' + escape($('#magic-box').val()) + ' }", \
    "spec": "relationship", \
    "relationships": { \
      "Package[myapp]": { \
        "before": "File[/myapp/config.json]" \
      } \
    } \
  }';
  submitcode('relationship', data)
}
</script>

<form id='magic' action='#'>
  <div class='form-group'>
    <label for='magic-box'>Enter puppet code:</label>
    <quote>Add a relationship so that the package is managed before the file.</quote>
    <textarea class='form-control' id='magic-box' rows='10'>
package { 'myapp':
  ensure => installed,
}
file { '/myapp/config.json':
  ensure  => file,
  content => '{ "configuration": "some setting"}',
}
    </textarea>
  </div>
</form>

<script>
  formFooter();
</script>
