*.old
.*.swp
.bundle
.sass-cache
.vagrant/
Gemfile.local
Gemfile.lock
checksums.json
nohup.out
pkg/*
spec/fixtures/
vendor/
keys/
build/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
