<script>
function test() {
  data = '{ \
    "fact": "' + escape($('#magic-box').val().replace(/facter\s+\-p\s*/, '')) + '" \
  }';
  submitcode('facts', data)
}
</script>

<form id='magic' action='#'>
  <label for='magic-box'>Enter command:</label>
  <quote>Use <code>facter -p</code> to view all <code>facts</code>.</quote>
  <div class='input-group'>
    <span class='input-group-addon magic-console'>$</span>
    <input type='text' class='form-control magic-console' id='magic-box' placeholder='facter -p' aria-label='Command line'>
  </div>
</form>
<br>

<script>
  formFooter();
  catchEnter();
  inputCheck('facter -p');

  // Make output look like CLI with hash rockets
  function munge_success(input) {
    output = Array();
    for (line in input) {
      if (typeof input[line] == 'string') {
        output = output.concat(input[line].replace(/: /, ' => '));
      } else {
        output = output.push(input[line]);
      };
    };
    return output;
  }
</script>
