<script>
function test() {
  data = '{ \
    "code": "' + escape($('#magic-box').val()) + '", \
    "check": "File%5C%5B%5C/etc%5C/motd%5C%5D.*3e25960a79dbc69b674cd4ec67a72c62" \
  }';
  submitcode('apply', data)
}
</script>

<form id='magic' action='#'>
  <div class='form-group'>
    <label for="magic-box">Enter code:</label>
    <quote>Write a file resource that manages the <code>/etc/motd</code>'s content as '<code>Hello world</code>'.</quote>
    <textarea class='form-control' id='magic-box' rows='5'></textarea>
  </div>
</form>

<script>
  formFooter();
  function munge_success(input) {
    return ['Hello world'];
  }
</script>
