<script>
function test() {
  data = '{ \
    "code": "' + escape($('#magic-box').val()) + '", \
    "type": "file", \
    "title": "/etc/motd" \
  }';
  submitcode('resource', data)
}
</script>

<form id='magic' action='#'>
  <label for='magic-box'>Enter command:</label>
  <quote>Use <code>puppet resource</code> to query the <code>/etc/motd</code> file.</quote>
  <div class='input-group input-group-sm'>
    <span class='input-group-addon magic-console'>$</span>
    <samp>
      <input type='text' class='form-control magic-console' id='magic-box' placeholder='puppet resource file /etc/motd' aria-label='Command line'>
    </samp>
  </div>
</form>
<br>
<button onclick='test();' class='btn btn-warning'>Test</button>
<form id='status_output' hidden>
  <div class='form-inline'>
    <label for='output'>Status:</label> <span id='status'>success</span>
  </div>
  <div class='form-group' id='samp_output'>
    <samp><textarea class='form-control' id='output' rows='5' readonly></textarea></samp>
  </div>
</form>

<script>
  catchEnter();
  inputCheck('puppet resource');
</script>
