<script>
  function test() {
    data = '{ \
      "lang": "puppet", \
      "code": "' + escape($('#magic-box').val()) + '" \
    }'
    submitcode('validate', data);
  }
</script>

<form id='magic' action='#'>
  <div class='form-group'>
    <label for='magic-box'>Contents of test.pp file:</label>
    <textarea class='form-control' id='magic-box' rows='7'>
file { '/tmp/fixme':
  ensure   => 'file',
  owner    => 0,
  group    => 0
  mode     => '0644',
}
    </textarea>
  </div>
  <label for='magic-console'>Enter command:</label>
  <quote>Use <code>puppet parser validate</code> command to validate test.pp file.</quote>
  <div class='input-group'>
    <span class='input-group-addon magic-console'>$</span>
    <input type='text' class='form-control magic-console' id='magic-console' placeholder='puppet parser validate test.pp' aria-label='Command line'>
  </div>
</form>
<br>

<script>
  formFooter();
  catchEnter('#magic-console');
  inputCheck('puppet parser validate', '#magic-console');
</script>
