<script>
function test() {
  data = '{ \
    "code": "' + escape($('#magic-box').val()) + '", \
    "type": "file", \
    "title": "/etc/motd", \
    "munge": { "mode": "0600" }, \
    "filter": [ "ensure", "owner", "group", "mode", "content"] \
  }';
  submitcode('resource', data)
}
</script>

<form id='magic' action='#'>
  <label for='magic-box'>Enter command:</label>
  <quote>Reinspect the <code>/etc/motd</code> file with <code>puppet resource</code>.</quote>
  <div class='input-group'>
    <span class='input-group-addon magic-console'>$</span>
    <input type='text' class='form-control magic-console' id='magic-box' placeholder='puppet resource file /etc/motd' aria-label='Command line'>
  </div>
</form>
<br>

<script>
  formFooter();
  catchEnter();
  inputCheck('puppet resource');
</script>
