@import url('/css/bootstrap.min.css');

/*
    Magicbox
*/

.resizable(@direction: both) {
  // Options: horizontal, vertical, both
  resize: @direction;
  overflow: auto;
}

textarea#magic-box, .magic-console {
  background: #000000 !important;
  color: #F2F3F4 !important;
}

textarea#magic-box, textarea#output, .magic-console {
    .resizable();
    font-family: monospace !important;
    font-size: 14px !important;
}
