.starter-template {
  padding: 40px 0px 5px 0px;
  text-align: center;
  color: #1a000d;
}
img.post-image {
  float: right;
  height: 120px;
  width: 120px;
}
img.post-list-image {
  height: 60px;
  width: 60px;
}
