<script>
function test() {
  data = '{ \
    "code": "' + escape($('#magic-box').val()) + '" \
  }';
  submitcode('apply', data)
}
</script>

<form id='magic' action='#'>
  <div class='form-group'>
    <label for='magic-box'>Enter puppet code:</label>
    <quote>Check the outcome of a puppet apply.</quote>
    <samp><textarea class='form-control' id='magic-box' rows='5'></textarea></samp>
  </div>
</form>

<script>
  formFooter();
</script>
