<script>
function test() {
  data = '{ \
    "code": "class magic_module { ' + escape($('#magic-box').val()) + ' }", \
    "item": "magic_module" \
  }';
  submitcode('compile', data)
}
</script>

<form id='magic' action='#'>
  <div class='form-group'>
    <label for='magic-box'>Enter function code:</label>
    <quote>Check to see if your code compiles.</quote>
    <samp><textarea class='form-control' id='magic-box' rows='5'></textarea></samp>
  </div>
</form>

<script>
  formFooter();
</script>
