<script>
function test() {
  data = '{ \
    "fact": "ranjit", \
    "value": true, \
    "code": "' + escape($('#magic-box').val()) + '" \
  }';
  submitcode('fact', data)
}
</script>

<form id='magic' action='#'>
  <div class='form-group'>
    <label for='magic-box'>Enter facter code:</label>
    <quote>Write a fact called 'ranjit' that returns Boolean <code>true</code>.</quote>
    <textarea class='form-control' id='magic-box' rows='5'></textarea>
  </div>
</form>

<script>
  formFooter();
</script>
