<script>
function test() {
  data = '{ \
    "fact": "' + escape($('#magic-box').val().replace(/facter\s+\-p\s*/, '')) + '" \
  }';
  submitcode('facts', data)
}
</script>

<form id='magic' action='#'>
  <label for='magic-box'>Enter command:</label>
  <quote>Use <code>facter -p</code> to view all <code>facts</code>.</quote>
  <div class='input-group input-group-sm'>
    <span class='input-group-addon magic-console'>$</span>
    <samp>
      <input type='text' class='form-control magic-console' id='magic-box' placeholder='facter -p' aria-label='Command line'>
    </samp>
  </div>
</form>
<br>

<script>
  formFooter();
  catchEnter();
  inputCheck('facter -p');
</script>
