<script>
  function test() {
    data = '{ \
      "lang": "' + $('#lang').val() + '", \
      "code": "' + escape($('#magic-box').val()) + '" \
    }'
    submitcode('json2hcl', data);
  }
</script>

<form id='magic' action='#'>
  <div class='form-group'>
    <label for='magic-box'>Enter code:</label>
    <textarea class='form-control' id='magic-box' rows='5'></textarea>
  </div>
  <div class='form-inline'>
    <label for='lang'>Language:</label>
    <select class='custom-select' id='lang'>
      <option value='json' selected>json</option>
      <option value='hcl'>hcl</option>
    </select>
  </div>
</form>

<script>
  formFooter();
</script>
