<script>
  function test() {
    data = '{ \
      "tfe_server": "' + $('#tfe_server').val() + '", \
      "tfe_org": "' + $('#tfe_org').val() + '", \
      "tfe_token": "' + $('#tfe_token').val() + '", \
      "type": "' + $('#type').val() + '" \
    }'
    submitcode('resourcecounter', data);
  }
</script>

<form id='magic' action='#'>
<div class='form-inline'>
  <div class="row">
    <div class="col-md-2">
      <label for='tfe_server'>TFE Server:</label>
    </div>
    <div class="col-md-4">
      <input type='text' id='tfe_server' value='app.terraform.io'>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for='tfe_org'>TFE Organization:</label>
    </div>
    <div class="col-md-4">
      <input type='text' id='tfe_org' placeholder='my_org'>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for='tfe_token'>TFE Token:</label>
    </div>
    <div class="col-md-4">
      <input type='password' id='tfe_token' placeholder='mYT0k3n'>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for='type'>Resource type:</label>
    </div>
    <div class="col-md-4">
      <input type='text' id='type' placeholder='null_resource'>
    </div>
  </div>
</div>
</form>

<script>
  $('h3:first').html('TFE Resources Counter')
  formFooter();
  $('.btn-warning').html('Count')
  function munge_success(input) {
    out = [JSON.stringify(JSON.parse(input), null, 2)];
    return out[0].split("\n")
  }
</script>
