<script src="/js/tfe.js"></script>
<script>
  function fetch_runs() {
    goutput = {'workspaces': {}, 'totals': {}}
    //Global totals holder
    gtotals = {
      'applied-at': 0,
      'planned-at': 0,
      'cost-estimated-at': 0,
      'policy-checked-at': 0  
    }
    resultWorking();
    tfe_workingMessage('Retrieving activity...');

    workspaces_list = Array();
    if ($('#workspaces option:selected').val() == 'ALL') {
      workspaces_list = Array();
      $('#workspaces option').each(function(){
        if ($(this).attr('workspace_id') != 'all') {
          workspaces_list.push($(this).attr('workspace_id'))
        }
      });
    } else {
      workspaces_list.push($('#workspaces option:selected').attr('workspace_id'))
    }

    workspaces_list.forEach(function(workspace_id) {
      console.log('Processing ' + workspace_id + '...')
      //Totals holder
      totals = {
        'applied-at': 0,
        'planned-at': 0,
        'cost-estimated-at': 0,
        'policy-checked-at': 0  
      }

      data = '{ \
        "tfe_server": "' + $('#source_tfe_server').val() + '", \
        "tfe_token": "' + $('#source_tfe_token').val() + '", \
        "endpoint": "workspaces/' + workspace_id + '/runs", \
        "method" : "GET", \
        "e_codes": [200] \
      }'

      $.ajax({
        type: 'post',
        async: false,
        timeout: 30000,
        url: '/api/1.0/tfe_call',
        data: data,
        dataType:'json',
        success: function(xhr) {
          console.log(xhr);
          aggregate_msg = xhr;
          workingDone();
          resultSuccess(xhr);
          $('#samp_output').show('fast');
        },
        error: function(xhr) {
          resultWorking();
          resultError(xhr);
          resultComplete(xhr);
        }
      });
    });
  }
</script>

<form id='magic' action='#'>
<div class='form-horizontal'>
  <div class='form-group' id='form-workspace-runs'>
    <label for='source_tfe_server' class='col-md-2 control-label'>TFC Server:</label>
    <div class="col-md-4">
      <input type='text' id='source_tfe_server' class='form-control' value='app.terraform.io'>
    </div>
  </div>
  <div class="form-group">
    <label for='source_tfe_org' class='col-md-2 control-label'>TFC Organization:</label>
    <div class="col-md-4">
      <input type='text' id='source_tfe_org' class='form-control' placeholder='my_org'>
    </div>
  </div>
  <div class="form-group">
    <label for='source_tfe_token' class='col-md-2 control-label'>TFC Token:</label>
    <div class="col-md-4">
      <input type='password' id='source_tfe_token' class='form-control' placeholder='mYT0k3n'>
    </div>
  </div>
  <p><button type='button' onclick='fetch_workspaces();' class='btn btn-info'>Retrieve Workspaces</button></p>
  <div id='form-select-workspaces'><div class='form-group'>
    <label for='workspace' class='col-md-2 control-label'>Workspaces:</label>
    <div class="col-md-4">
      <select class='form-control' id='workspaces'>
        <option><i>None</i></option>
      </select>
    </div>
    <div class="checkbox-inline col-md-3"><label class="control-label">
      <input type="checkbox" id="workspaces_all">All Workspaces
    </label> </div>
  </div>
  <div class="form-group">
    <label for='start_date' class='col-md-2 control-label'>Start Date:</label>
    <div class="col-md-4">
      <input type='text' id='start_date' class='form-control' placeholder='mm/dd/YYYY'>
    </div>
  </div>
  <div class="form-group">
    <label for='end_date' class='col-md-2 control-label'>End Date:</label>
    <div class="col-md-4">
      <input type='text' id='end_date' class='form-control' placeholder='mm/dd/YYYY'>
    </div>
  </div>
  <div class='form-group' id='form-select-filter'>
    <label for='filter' class='col-md-2 control-label'>Metric:</label>
    <div class="col-md-4">
      <select class='form-control' id='filter'>
        <option value='applied-at'><i>Applies</i></option>
        <option value='planned-at'><i>Plans</i></option>
        <option value='policy-checked-at'><i>Policy Checks</i></option>
        <option value='cost-estimated-at'><i>Cost Estimations</i></option>
      </select>
    </div>
    <div class="checkbox-inline col-md-3"><label class="control-label">
      <input type="checkbox" id="filters_all">All Runs
    </label> </div>
  </div>
  <p><button type='button' onclick='fetch_runs();' class='btn btn-info'>Retrieve Activity</button></p>
  </div>
</div>
</form>

<script>
  $('h3:first').html('TFC Activity Meter')
  $('#form-select-workspaces').hide();
  formFooter();
  $('.btn-warning').hide();

  function munge_success(input) {
    if ($('#filter option:selected').val() == 'ALL') {
      filter_list = ['applied-at', 'planned-at', 'cost-estimated-at', 'policy-checked-at']
    } else {
      filter_list = [$('#filter option:selected').val()]
    }

    input.forEach(function(run) {
      run_id         = run['id']
      workspace_id   = run['relationships']['workspace']['data']['id']
      workspace_name = $('#workspaces option[workspace_id=' + workspace_id + ']').val()
      console.log('Processing run: ' + run_id + '...')
      filter_list.forEach(function(f) {
        //Find human term
        metric = $('#filter option[value=' + f + ']').text()
        if (run['attributes']['status-timestamps'][f]) {

          //Local totals
          totals[f] = totals[f]+1
          console.log('- Found a new ' + f)
          if (workspace_name in goutput['workspaces']) {
            console.log('-- Incrementing ' + f + ' data...')
          } else {
            console.log('-- Creating ' + f + ' data...')
            goutput['workspaces'][workspace_name] = {}
          }
          goutput['workspaces'][workspace_name][metric] = totals[f]
          console.log('-- New workspace ' + f + ' total: ' + goutput['workspaces'][workspace_name][metric])

          //Grand totals
          //gtotals[f] = gtotals[f]+totals[f]
          //console.log('New ' + metric + ' total: ' + gtotals[f])
          //if (metric in goutput['totals']) {
          //  console.log('Appending ' + metric + ' data...')
          //} else {
          //  console.log('Creating ' + metric + ' data...')
          //  goutput['totals'][metric] = {}
          //}
          //goutput['totals'][metric] = gtotals[f]
        }
      });
    });
    pretty = JSON.stringify(goutput, null, 2);
    return pretty.split("\n");
  }

  $('input#workspaces_all').click(function() {
    if ($(this).is(':checked')) {
      $('#workspaces')
        .append($("<option></option>")
        .attr('value', 'ALL')
        .attr('workspace_id', 'all')
        .text('ALL'));
      $('#workspaces').find('option[value=ALL]').attr('selected', 'selected')
      $('#workspaces').attr('disabled', 'disabled');
    } else {
      $('#workspaces')
        .find('option[workspace_id=all]')
        .remove()
        .end()
      $('#workspaces').removeAttr('disabled');
      $('#workspaces').find('option[value=ALL]').removeAttr('selected')
    }
  });

  $('input#filters_all').click(function() {
    if ($(this).is(':checked')) {
      $('#filter')
        .append($("<option></option>")
        .attr('value', 'ALL')
        .attr('workspace_id', 'all')
        .text('ALL'));
      $('#filter').find('option[value=ALL]').attr('selected', 'selected')
      $('#filter').attr('disabled', 'disabled');
    } else {
      $('#filter')
        .find('option[value=ALL]')
        .remove()
        .end()
      $('#filter').removeAttr('disabled');
      $('#filter').find('option[value=ALL]').removeAttr('selected')
    }
  });
</script>
