<script src="/js/tfe.js"></script>
<script>
  //Convert to 00:00:00 in current timezone
  function createStartDateTZ() {
    start_date = new Date($('#start_date').val())
    console.log('User start_date: ' + start_date)
    start_date = new Date(start_date.setMinutes(start_date.getMinutes() + start_date.getTimezoneOffset()))
    return start_date
  }

  //Convert to 23:59:59 in current timezone
  function createEndDateTZ() {
    end_date = new Date($('#end_date').val() + ' 23:59:59')
    console.log('User end_date: ' + end_date)
    //end_date = new Date(end_date.setMinutes(end_date.getMinutes() + end_date.getTimezoneOffset()))
    return end_date
  }

  //Check for ALL workspaces
  function createWorkspaceList() {
    if ($('#workspaces option:selected').val() == 'ALL') {
      workspaces_list = $('#workspaces option').map(function() {
        if ($(this).attr('workspace_id') != 'all') {
          return $(this).attr('workspace_id')
        }
      }).get();
    } else {
      workspaces_list = $('#workspaces option:selected').attr('workspace_id')
    }
    return workspaces_list
  }

  //Check for ALL filters
  function createFilterList() {
    if ($('#filter option:selected').val() == 'ALL') {
      filter_list = $('#filter option').map(function() {
        if (this.value != 'ALL') {
          return this.value
        }
      }).get();
    } else {
      filter_list = $('#filter option:selected').map(function() {
        return $(this).val()
      }).get().join();
    }
    return filter_list
  }
  function test() {
    check_array = [
      {
        "check": "[0-9]{4}-[0-9]{2}-[0-9]{2}",
        "box": "#start_date"
      },
      {
        "check": "[0-9]{4}-[0-9]{2}-[0-9]{2}",
        "box": "#end_date"
      }
    ];
    if (!formValidation(check_array, 'Please select start and end dates!')) {
      return;
    }

    tfe_workingMessage('Retrieving activity...')

    //Calculate info
    startDate     = createStartDateTZ();
    endDate       = createEndDateTZ();
    filterList    = createFilterList();
    workspaceList = createWorkspaceList();

    data = '{ \
      "tfe_server": "' + $('#source_tfe_server').val() + '", \
      "tfe_token": "' + $('#source_tfe_token').val() + '", \
      "workspace_id": "' + workspaceList + '", \
      "start_date" : "' + startDate + '", \
      "end_date" : "' + endDate + '", \
      "filter": "' + filterList + '" \
    }'
    submitcode('tfc_activity', data)
  }

</script>

<form id='magic' action='#'>
<div class='form-horizontal'>
  <div class='form-group' id='form-workspace-runs'>
    <label for='source_tfe_server' class='col-md-2 control-label'>TFC Server:</label>
    <div class="col-md-4">
      <input type='text' id='source_tfe_server' class='form-control' value='app.terraform.io'>
    </div>
  </div>
  <div class="form-group">
    <label for='source_tfe_org' class='col-md-2 control-label'>TFC Organization:</label>
    <div class="col-md-4">
      <input type='text' id='source_tfe_org' class='form-control' placeholder='my_org'>
    </div>
  </div>
  <div class="form-group">
    <label for='source_tfe_token' class='col-md-2 control-label'>TFC Token:</label>
    <div class="col-md-4">
      <input type='password' id='source_tfe_token' class='form-control' placeholder='mYT0k3n'>
    </div>
  </div>
  <p><button type='button' onclick='fetch_workspaces();' class='btn btn-info'>Retrieve Workspaces</button></p>
  <div id='form-select-workspaces'><div class='form-group'>
    <label for='workspace' class='col-md-2 control-label'>Workspaces:</label>
    <div class="col-md-4">
      <select class='form-control' id='workspaces'>
        <option><i>None</i></option>
      </select>
    </div>
    <div class="checkbox-inline col-md-3"><label class="control-label">
      <input type="checkbox" id="workspaces_all">All Workspaces
    </label> </div>
  </div>
  <div class="form-group">
    <label for='start_date' class='col-md-2 control-label'>Start Date:</label>
    <div class="col-md-4">
      <input type='date' id='start_date' class='form-control' placeholder='mm/dd/YYYY'>
    </div>
  </div>
  <div class="form-group">
    <label for='end_date' class='col-md-2 control-label'>End Date:</label>
    <div class="col-md-4">
      <input type='date' id='end_date' class='form-control' placeholder='mm/dd/YYYY'>
    </div>
  </div>
  <div id='date_presets' class="form-group">
    <label for='date-preset' class='col-md-2 control-label'>Presets:</label>
    <div class="col-md-8">
      <div id='date-preset' class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-primary">This week</button>
        <button type="button" class="btn btn-primary">Last week</button>
        <button type="button" class="btn btn-primary">This month</button>
        <button type="button" class="btn btn-primary">Last month</button>
        <button type="button" class="btn btn-primary">Last 6 months</button>
        <button type="button" class="btn btn-primary">Last year</button>
      </div>
    </div>
  </div>
  <div class='form-group' id='form-select-filter'>
    <label for='filter' class='col-md-2 control-label'>Metric:</label>
    <div class="col-md-4">
      <select class='form-control' id='filter' multiple>
        <option value="planning-at">Plan started</option>
        <option value="plan-queueable-at">Plan ready to be queued</option>
        <option value="plan-queued-at">Plan queued</option>
        <option value="planned-at">Plan completed</option>
        <option value="planned-and-finished-at">Plan without Apply</option>
        <option value="cost-estimating-at">Cost estimation started</option>
        <option value="cost-estimated-at">Cost estimation completed</option>
        <option value="policy-checked-at">Policy check completed</option>
        <option value="apply-queued-at">Apply queued</option>
        <option value="applying-at">Apply started</option>
        <option value="applied-at">Apply completed</option>

        <option value="discarded-at">Discard logged</option>
        <option value="errored-at">Error logged</option>
        <option value="policy-soft-failed-at">Policy soft fail detected</option>
        <option value="policy-hard-failed-at">Policy hard fail detected</option>
        <option value="confirmed-at">Run confirmed</option>
      </select>
    </div>
    <div class="checkbox-inline col-md-3"><label class="control-label">
      <input type="checkbox" id="filter_all">All Runs
    </label> </div>
  </div>
  <div id='filter_presets' class="form-group">
    <label for='filter-preset' class='col-md-2 control-label'>Presets:</label>
    <div class="col-md-8">
      <div id='filter-preset' class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-primary">Plans & Applies</button>
        <button type="button" class="btn btn-primary">Policy checks</button>
        <button type="button" class="btn btn-primary">Errors</button>
      </div>
    </div>
  </div>
  <p><button type='button' onclick='test();' class='btn btn-info'>Retrieve Activity</button></p>
  </div>
</div>
</form>

<script>
  $('h3:first').html('TFC Activity Meter')
  $('#form-select-workspaces').hide();
  formFooter();
  $('.btn-warning').hide()

  var plot_data;
  function munge_success(input) {
    message = input[0]
    //Plot data
    plot_data = message['plot_data']
    formatted_plot_data = []
    $.each(plot_data, function(f, points) {
      data = {
        name: $('#filter option[value=' + f + ']').text(),
        type: 'column',
        showInLegend: true,
        dataPoints:[]
      }
      $.each(points, function(point, count) {
        entry = {}
        entry['x'] = new Date(point)
        entry['y'] = count
        data['dataPoints'].push(entry)
      });
      formatted_plot_data.push(data)
    });
    //For whatever reason, if only a single dataset, CanvasJS doesn't stick to one color
    formatted_plot_data.push({name: "Dummy", type: "column", showInLegend: false, dataPoints: []})
    console.log(formatted_plot_data)

    chart = new CanvasJS.Chart('canvasjs', {
      zoomEnabled: true,
      panEnabled: true,
      legend: {
        cursor: "pointer",
        fontFamily: '"Helvetica Neue", Helvetica, Arial, sans-serif',
        itemclick: function (e) {
          if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
          } else {
            e.dataSeries.visible = true;
          }
          e.chart.render();
        }
      },
      title: {
        text: 'Runs over time',
        fontFamily: '"Helvetica Neue", Helvetica, Arial, sans-serif'
      },
      axisX: {
        gridThickness: 1,
        intervalType: "day"
      },
      axisY: {
        title: 'Runs',
        intervalType: "number"
      },
      data: formatted_plot_data
    });
    chart.render();

    friendly = {'workspaces': {}}
    $.each(message['workspaces'], function(ws, counts) {
      workspace_name                         = $('#workspaces option[workspace_id='+ ws).val()
      friendly['workspaces'][workspace_name] = {}
      unsorted                               = {}
      $.each(counts, function(f, count) {
        unsorted[f] = count
      });
      //Sort by key
      Object.keys(unsorted).sort().forEach(function(f) {
        console.log(f)
        metric = $('#filter option[value=' + f + ']').text()
        friendly['workspaces'][workspace_name][metric] = unsorted[f]
      });
    });

    if ($('#workspaces option:selected').val() == 'ALL') {
      friendly['totals'] = {}
      unsorted           = {}
      $.each(message['totals'], function(f, count) {
        unsorted[f] = count
      });
      //Sort by key
      Object.keys(unsorted).sort().forEach(function(f) {
        metric = $('#filter option[value=' + f + ']').text()
        friendly['totals'][metric] = unsorted[f]
      });
    };
    workingDone();
    pretty = JSON.stringify(friendly, null, 2);
    return pretty.split("\n");
  }

  function allOption(list) {
    $('input#' + list + '_all').click(function() {
      if ($(this).is(':checked')) {
        $('#' + list)
          .append($("<option></option>")
          .attr('value', 'ALL')
          .attr('workspace_id', 'all')
          .text('ALL'));
        $('#' + list).find('option').removeAttr('selected')
        $('#' + list).find('option[value=ALL]').attr('selected', 'selected')
        $('#' + list).attr('disabled', 'disabled');
      } else {
        $('#' + list)
          .find('option[value=ALL]')
          .remove()
          .end()
        $('#' + list).removeAttr('disabled');
        $('#' + list).find('option[value=ALL]').removeAttr('selected')
      }
    });
  }
  allOption('workspaces');
  allOption('filter');

  //Date presets
  function datePreset(text, start, end) {
    currentDay = new Date()
    $('#date_presets button:contains(' + text + ')').click(function() {
      setStart = new Date(new Date(start).setHours(0,0,0,0))
      setEnd   = new Date(new Date(end).setHours(23,59,59,59))

      console.log('Preset: ' + text + ' - start: ' + setStart + ', end: ' + setEnd)
      $('#start_date').val([setStart.getFullYear(), ('0'+(setStart.getMonth()+1)).slice(-2), ('0'+setStart.getDate()).slice(-2)].join('-'))
      $('#end_date').val([setEnd.getFullYear(), ('0'+(setEnd.getMonth()+1)).slice(-2), ('0'+setEnd.getDate()).slice(-2)].join('-'))
    });
  }
  currentDay = new Date()
  datePreset(
    'This week',
    new Date(currentDay.getTime() - currentDay.getDay()*24*3600*1000),
    new Date(currentDay.getTime() + (6 - currentDay.getDay())*24*3600*1000)
  );
  datePreset(
    'Last week',
    new Date(currentDay.getTime() - 604800000 - currentDay.getDay()*24*3600*1000),
    new Date(currentDay.getTime() - 604800000 + (6 - currentDay.getDay())*24*3600*1000)
  );
  datePreset(
    'This month',
    new Date(currentDay.getFullYear(), currentDay.getMonth(), 1),
    new Date(currentDay.getFullYear(), currentDay.getMonth()+1, 0)
  );
  datePreset(
    'Last month',
    new Date(currentDay.getFullYear(), currentDay.getMonth()-1, 1),
    new Date(currentDay.getFullYear(), currentDay.getMonth(), 0)
  );
  datePreset(
    'Last 6 months',
    new Date(currentDay.setMonth(currentDay.getMonth()-6)),
    new Date(new Date())
  );
  datePreset(
    'Last year',
    new Date(currentDay.getFullYear()-1, currentDay.getMonth(), currentDay.getDate()),
    new Date(new Date())
  );

  //Filter presets
  function filterPreset(text, filters) {
    $('#filter_presets button:contains(' + text + ')').click(function() {
      $('#filter').find('option').removeAttr('selected')
      $('#filter').val(filters)
    });
  }
  filterPreset('Plans & Applies', ['planned-at', 'applied-at'])
  filterPreset('Policy check', ['policy-checked-at', 'policy-soft-failed-at', 'policy-hard-failed-at'])
  filterPreset('Errors', ['errored-at'])
</script>

<div just='clear things'></div>
